<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 로그인</title>
    <link rel="stylesheet" href="/css/login.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
<div class="container">
    <h1>로그인</h1>

    <div class="form-inline">
        <label for="userId">이메일:</label>
        <input type="text" id="userId" name="userId" required>
    </div>
    <div class="form-inline">
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <input type="button" id="login" value="로그인">
    </div>
</div>
</body>
</html>
